<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UrbanSoochi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3DCD6802244867ED00F55D3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DCD6818244867EE00F55D3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DCD6823244867EE00F55D3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
